@media screen and (max-width: 480px){

    .list-services {
        flex-wrap: wrap;
    }
    .list-item-heart,
.list-item-ideas,
.list-item-nav,
.list-item-tools {
    flex: 100%;
    max-width: 100%;
}

.our-story {
   flex-wrap: wrap;
}

.our-story p {
   margin: 0 auto 20px;
}

.pricing-content {
    flex-wrap: wrap;
}

.option {
   flex: 100%;
   max-width: 100%;
}
.pricing{
    padding: 30px 10px 30px;
}
.pictures-content{
    flex-wrap: wrap;
    flex: 100%;
}
.part-one{
    flex-wrap: wrap;
    flex: 100%;

}
.description{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex: 100%;
    max-width: 100%;
}
.description p{
    flex: 100%;
    margin: 0;
}
}

@media only screen and (max-width: 992px){
    header {
        padding: 5px 10px;
        margin-bottom: 40px;
    }
    .block{
        overflow:hidden;
    }
    .request{
        display: none;
    }
    nav{
    display: none;
    }
    #nav-toggle {
        display: block;
            background: transparent;
            position: absolute;
            right: 0;
            top: 10px;
            margin-top: 22px;
            height: 50px;
            z-index: 6;
            width: 50px;
            cursor: pointer;
            transform: translate(0%, -50%);
   
    }
    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 35px;
        background: #d03958;
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        content: '';
    }
    #nav-toggle span::after {
        top: 10px;
    }
    #nav-toggle span::before {
        top: -10px;
    }
}