@media screen and (max-width: 480px) {
    header {
        display: block;
    }

    .logo {
        font-size: 56px;
    }

    .start h2 {
        font-size: 36px;
        line-height: 36px;
    }

    .container-title {
        width: 70%;
    }

    .title-services h3,
    .pricing h3,
    .testimonial h3,
    .gallery h3 {
        font-size: 40px;
        font-weight: 700;
    }

    .option h4 {
        font-size: 36px;
    }

    .list-services {
        flex-wrap: wrap;
    }


    .list-item-heart,
    .list-item-ideas,
    .list-item-nav,
    .list-item-tools {
        flex: 100%;
        max-width: 100%;
    }

    .our-story {
        flex-wrap: wrap;
    }

    .our-story p {
        margin: 0 auto 20px;
    }

    .pricing-content {
        flex-wrap: wrap;
    }

    .option {
        flex: 100%;
    }

    .pricing {
        padding: 30px 10px 30px;
    }

    .pictures {
        padding: 50px 40px 60px;
    }

    .pictures-content {
        flex-wrap: wrap;
        flex: 100%;
    }

    .part-one,
    .part-two {
        padding: 5px;
        flex-direction: column;
    }

    .part-one,
    .part-two {
        margin-bottom: 40px;
    }

    .testimonial-one,
    .testimonial-two {
        padding: 0;
    }

    .pictures {
        flex-wrap: wrap;
    }

    .pictures-list {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
    }

    .pictures-list li {
        align-self: center;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .option {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .description {
        display: flex;
        flex-direction: column;
    }

    .option .choice {
        margin: 0;
    }
}
@media (min-width: 992px){
    .option{
        flex: 0 0 25%;
    }
}

@media only screen and (max-width: 992px) {
    header {
        padding: 5px 10px;
        margin-bottom: 40px;
    }

    .block {
        overflow: hidden;
    }


    #nav-toggle {
        display: block;
        background: transparent;
        position: absolute;
        right: 0;
        top: 10px;
        margin-top: 22px;
        height: 50px;
        z-index: 6;
        width: 50px;
        cursor: pointer;
       }

    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 35px;
        background: #d03958;
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        content: '';
    }

    #nav-toggle span::after {
        top: 10px;
    }

    #nav-toggle span::before {
        top: -10px;
    }

    .container-title {
        width: 80%;
    }

    .main-menu li {
        display: block;
        padding: 10px 0;
        text-align: center;
        margin: 0;
    }

    .main-menu a {
        color: #ffffff;
        font-weight: 600;
    }

    .main-menu a:hover {
        text-decoration: underline;
    }

    .main-menu {
        display: none;
        padding: 0;
    }

    .menu-open {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 70px;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: auto;

    }    

    .title-services h3,
    .pricing h3,
    .testimonials h3,
    .gallery h3 {
        font-size: 32px;
    }

    .pricing-content {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .pictures {
        flex-direction: column;
    }

    .gallery a {
        width: 100%;
        text-align: center;
    }

    footer {
        flex-direction: column-reverse;
    }

    footer>p {
        width: 100%;
        padding: 15px;
        text-align: center;
    }
}