ul{
margin: 0;
}
.wrapper {
    margin:0 auto;
    width: 100%;
}
h2{
    margin-top: 0;
}
header {
    padding-top: 38px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

.logo {
    display: block;
    text-decoration: none;
    color: #d03958;
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 88px;
    font-weight: 400;
    letter-spacing: -1.2px;
}

nav {
    display: flex;
    align-items: center;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.main-menu li {
    margin-right: 30px;

}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu a {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #1b1b1b;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.36px;

}


.main-menu a:hover {
    color: #ffffff;

    background-color: #d03958;
    border-radius: 4px;
}

.start {
    position: relative;
    /* height: 434px; */

}

.container-start {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.container-title {
    width: 60%;
    margin: 0 auto;
}

.block {
    background: url(../image/road-3186188_1280.jpg) no-repeat rgba(195, 185, 164, 0.65);
    background-blend-mode: overlay;
    background-size: cover;
    height: 693px;

}

.start h2 {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-between; */
    margin-bottom: 44px;
    line-height: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1.8px;
    color: #161616;
}

.start span {
    color: #d03958;
}

.start p {
    color: #161616;
    font-family: 'PT Serif', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
}

/* .js-modal-show{
    opacity: 1;
    pointer-events: all;
}
.js-close-modal{
    display: block;
    width: 33px;
    position: absolute;
    top: 20px;
    right: 10px;
    background: none;
    border: none;
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;
    color: #d03958;
} */
/* .modal{
    width: 100%;
    height: 100%;
    background: blue;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(15, 25, 51, 0.95);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
} */


.request {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 22px 24px 22px;
    border-radius: 4px;
    background-color: #d03958;
    margin:0 auto 50px;
    width: 80%;
}

legend {
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.44px;
}

input:nth-of-type(-n+4) {
    padding: 19px 0px 23px 19px;
    margin-bottom: 20px;
    font-family: 'PT Serif', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.4px;
    color: #b5b5b5;
    border: none;
    outline: transparent;
    border-radius: 6px;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    align-self: center;
}

.request span {
    display: inline-block;
    padding-left: 18px;
    color: #ffffff;
    font-family: 'PT Serif', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.4px;
}

input[type=submit] {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 6px;
    background-color: #161616;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    cursor: pointer;
    outline: transparent;
}
input[type=submit]:hover{
    background-color: #ffffff;
    color: #d03958;
}

.accept {
    display: flex;
    color: #ffffff;
    font-family: 'PT Serif', sans-serif;
    font-size: 20px;
    font-weight: 400;
}


.services {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #ECEFF1;
}
.title-services{
    margin: 0 auto 50px;
}


.title-services span {
    color: #d03958;
}

.content-services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list-services {
    display: flex;
    justify-content: space-between;
}

.list-item-heart {

    background: url(../image/shape-108.png) top no-repeat;
}

.list-item-tools {

    background: url(../image/shape-127.png) top no-repeat;
}

.list-item-ideas {

    background: url(../image/shape-106.png) top no-repeat;
}

.list-item-nav {

    background: url(../image/shape-97.png) top no-repeat;
}

.list-item-heart,
.list-item-ideas,
.list-item-nav,
.list-item-tools {
    padding: 190px 20px 30px;
}

.list-services p {
    text-align: center;
    color: #161616;
    font-family: 'PT Serif', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.our-story {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: #d03958;
}

.our-story p {
    margin: 0;
    padding: 15px;
    color: #ffffff;
    font-family: 'PT Serif', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.our-story a {

    color: #161616;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    text-decoration: none;
}

.story:hover{
    background-color: #FFF;
}
.story {
    flex: 50%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    background-color: #e3d5b8;
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 62px 10px;
    background-color: #e3d5b8;
}

.title-services h3,.pricing h3, .testimonials h3,
.gallery h3 {
    margin-top: 0;
    color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.title-services h3 {
    text-align: center;
    margin: 0 auto;
  }
.testimonials h3,
.gallery h3 {
    text-align: center;
}

.pricing-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.option {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    margin:0 10px 20px;
    justify-content: space-around;
    padding: 90px 20px;
    background-color: #ffffff;
    border-radius: 6px;
}
.option .choice{
    font-weight: 700;
    text-shadow:2px 2px 5px #800A0A;
    }

.option>p {
    text-align: center;
    color: #161616;
    font-family: 'PT Serif', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.44px;
}

.option h4 {
    margin-top: 0;
    text-align: center;
    color: #d03958;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1.2px;
}

.option p {
    text-align: center;
    margin: 0 auto 20px;
    color: #161616;
    font-family: 'PT Serif', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
}


.starter,
.business,
.professional {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 85%;
    color: #161616;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    background-color: #e3d5b8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;
}
.option:hover .starter{
    background-color: #d03958;
    color:#FFF;
}
.option:hover .business{
    background-color: #d03958;
    color:#FFF;
}
.option:hover .professional{
    background-color: #d03958;
    color:#FFF;
}

/* .business {
    background-color: #d03958;
} */

.pictures {
    display: flex;
    justify-content: center;
    padding: 140px 40px 116px;
    background-color: #ECEFF1;
}

.pictures-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 50%;
}

.first-name, .second-name {
    color: #d03958;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
} 

.testimonial-one, .testimonial-two {
    margin: 0 0 22px;
    color: #161616;
    font-family: 'PT Serif', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.testimonial-one, .testimonial-two {
    margin: 0 0 15px;
    flex: 1 0 52%;
    padding-right: 70px;
}
.testimonials img {
    display: block;
    width: 105px;
    height: 105px;
    box-shadow: -3px -10px 20px rgba(227, 213, 184, 0.6);
    border-radius: 50%
}

.part-one,.part-two {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    border: 2px solid transparent;
}
.part-one:hover{
    border: 2px solid brown;
    background-color: #e3d5b8;
    border-radius: 5px;
}
.part-two:hover{
    border: 2px solid brown;
    background-color: #e3d5b8;
    border-radius: 5px;
}
.part-one p:last-child, .part-two p:last-child {
    margin: 0;
}



.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:  1 0 50%;
}

.gallery h3 {
    margin-top: 0;
    color: #d03958;
}

.pictures-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    padding: 0 40px 0 90px;
}
.gallery a {
    display: block;
    margin: auto;
    color: #d03958;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    text-decoration: none;
}
.gallery a:hover{
    text-decoration: underline;
}
.pictures-list li{
    flex: 25%;
    margin: 2% 2% 30px 2%;
}

.pictures-list img {
    display: block;
    max-width: 100%;
    width: 105px;
    height: 105px;
    box-shadow: -3px -10px 20px rgba(227, 213, 184, 0.6);
    border-radius: 50%;
    transition: all 1s ease;
    cursor: pointer;
}
.pictures-list img:hover{
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #161616;
}

footer>p {    
    width: 50%;
    margin: 0;
    color: #ffffff;
    font-family: 'PT Serif', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;

}

footer span {
    color: #d03958;
    letter-spacing: -0.4px;
}

.to-page-nav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d03958;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    transition: background-color, box-shadow .2s linear;
}

.to-page-nav::before {
    display: inline-block;
    height: 20px;
    width: 20px;
    content: "";
    background: url(../image/up-chevron-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
.contact-us{
    background-color: rgba(195, 185, 164, 0.65);
    padding: 40px 20px;
}