* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 900px;
    margin: auto;
    padding-top: 75px;
}

header {
    margin: auto;
    margin-bottom: 100px;
}

.main-menu {
    font-size: 0px;
    font-family: 'Playfair Display', serif;
    width: 660px;
    margin: auto;
}

.main-menu-item {
    display: inline-block;
    width: 90px;
    list-style: none;
    margin-right: 100px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.main-menu-item:last-child {
    margin-right: 0px;
}

.main-menu a {
    text-decoration: none;
    color: #626262;
}

.main-content {
    padding: 0px 5px 70px 5px;
}

.conteiner {
    width: 890px;
    font-size: 0px;
    margin-bottom: 130px;
}

.article {
    display: inline-block;
    width: 420px;
    margin-right: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.article:nth-child(even) {
    margin-right: 0px;
}
.conteiner:nth-child(3) {
    margin-bottom: 65px;
}


img {
    display: block;
    margin-bottom: 25px;
}

h3 {
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    margin-bottom: 22px;
}

h2 {
    font-size: 30px;
    color: #626262;
    margin-bottom: 35px;
}

p {
    width: 420px;
    font-size: 14px;
    color: #626262;
}

button {
    display: block;
    margin-left: 357px;
    margin-right: 378px ;
    width: 165px;
    height: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}