@media (min-width: 768px) {
    header {
        padding-top: 40px;
    }
    .header{
        margin-bottom: 136px;
    }
    
    .header-items [class*="col-"]:first-child{
        margin-bottom: 0px;
    }
    .header-items{
        margin-bottom: 0px;
    }
    .title-header{
        margin-bottom: 22px;
    }
    .text-header{
        margin-bottom: 32px;
    }
    .title-content {
        margin-bottom: 28px;
    
    }
    .items [class*="col-"]:nth-child(odd){
        margin-bottom: 60px;
    }
    .list-option>.col-12 col-md-8 col-xl-10{
        margin-bottom: 0px;
    }
    .list-option{
        margin-bottom: 40px;
    }
    .background {
        /* padding-top: 36px; */
        background: url(../img/2.png) no-repeat center rgba(26, 25, 21, 0.9);
        background-size: cover;
        min-height: 700px;
    }
   
    .buttons button:first-child {
        margin-right: 0px;
    }
    h2 {
        font-size: 52px;
   
    }
    .background p {
        font-size: 24px;
       
    }
    .find-partner {
        padding: 12px 24px 10px 22px;
    }
    .main-content {
        padding: 66px 6px 40px;
    }
    
    
       
    .other {
        padding: 10px 22px 10px 22px;
    }
    .picture{
        /* width: 58.0392%; */
    }
    .tv-icon,
    .lab-icon,
    .coffee-icon,
    .telegram-icon {
        top: 72%;
        right: 22%;
    }
    
}


@media (max-width: 767px){
    .title-content {
        margin-bottom: 14px;
    
    }
    .list-option [class*="col-"]{
        margin-bottom: 26px;
    }
    .header-items [class*="col-"]:first-child{
        margin-bottom: 114px;
    }
    .header-items{
        margin-bottom: 28px;
    }
    .title-header{
        margin-bottom: 10px;
    }
    .text-header{
        margin-bottom: 12px;
    }
   
}

@media (min-width: 1440px) {
   
   
    .background {
        /* padding-top: 36px; */
        background: url(../img/3.png) no-repeat center rgba(26, 25, 21, 0.9);
        background-size: cover;
        min-height: 700px;
    }
    .main-content {
        padding: 66px 6px 70px;
        
    }
    .option img{
        width: 121px;
        height: 121px;
    }
    .option-list{
        
    }
    .list-option [class*="col-"]:nth-child(odd){
        margin-bottom: 0px;
    }
    .list-option{
        margin-bottom: 42px;
    }
   .option{
       /* min-width: 220px; */
       margin-right: 0px;
   }

   
}