$main-font:'Montserrat', sans-serif;
$text-font:'Roboto', sans-serif;
$title-font:'Kaushan Script', sans-serif;
$main-color:#ffffff;
$accent-color: #fce38a;
$title-color:#333333;
$secondary-color:#f38181;
$text-color:#999999;
$subscribe-color:#95e1d3;
$form-color:#cccccc;
$main-text-size: 15px;

