.form{
    width: 500px;
    border: 2px dotted purple;
    padding: 10px;
    margin: 30px auto;
    font-family: 'K2D', sans-serif;
    font-size: 20px;
}
.button-add{
    border-radius: 5px;
    padding: 12px;
}