body{
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
}
.form{
    width: 600px;
    margin: 30px auto;
}
.input{
    line-height: 40px;
    border-radius: 10px;
    outline: transparent;
}
